@import "normalize.css";
@import "fonts.scss";
@import "common.scss";



header{
	background: rgba(0,0,0, 0.5);
	height: 40px;
	line-height: 40px;
	
	nav a{
		color: #ccc;	
		text-decoration: none;
		padding: 0 10px;
		display: inline-block;

		&:hover{
			color: white;
			background: rgba(0,0,0, 0.5);
		}

		&.github-link{
			float: right;
		}
	}
}
body{
	font-family: 'ptsans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	min-width: 960px;
}


section.central{
	padding: 200px 0;

	.btn{
		margin-right: 5px;
	}
}


footer{
	.width{
		width: 500px;
	}
	.copyright a{
		color: #aaa;
		font-weight: bold;
	}	
	text-align: center;
}