    <span class="breadcrumbs">
      {% assign links_array = include.links | split: ">" %}
      {% assign last_link = links_array.last %}
      {% assign classes = "" %}
      {% for link in links_array %}
        {% assign plink = link | split: "|" %}
        {% if plink[1] %}
      <a href="{{ plink[0] }}" class="{{ classes }}">{{ plink[1] }}</a>
        {% else %}
      <span class="{{ classes }}">{{ plink[0] }}</span>
        {% endif %}
        {% assign classes = "arrow right-arrow" %}
      {% endfor %}
    </span>