    <div class="sub-header">
      <div class="width">
        <nav>
          <!-- <a href="/documentation">Documentation</a>
          <a href="/tutorials">Tutorials</a>
          <a href="https://github.com/cl-rabbit/cl-bunny">GitHub</a> -->

          {% assign site_sections = "cl-amqp|cl-bunny|cl-hrack" | split: "|" %}

          {% for site_section in site_sections %}
            {% if page.site_section == site_section %}
              {% if page.breadcrumbs %}
                {% include breadcrumbs.html links=page.breadcrumbs %}
              {% endif %}
            {% else %}
            <a href="/{{ site_section }}">{{ site_section }}</a>
            {% endif %}
          {% endfor %}

          <a href="https://github.com/cl-rabbit/" class="github-link">GitHub</a>

        </nav>
      </div>
    </div>